* {
    main-bg:            #11111be6;
    main-fg:            #cdd6f4ff;
    main-br:            #0adff9;
    main-ex:            #0adff9;
    select-bg:          #b4befeff;
    select-fg:          #11111bff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
